:root {
    --primary-color: #f6a19a; /* Dark pink */
    --secondary-color: #feceb8; /* Peach */
    --background-color: #acd0c2; /* Mint green */
    --text-color: #dce2d6; /* Pale green */
    --accent-color: #fff4e2; /* Pale beige */
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .calculator {
    width: 500px; 
    padding: 20px;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  #display {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--secondary-color);
  }
  
  .btn-calculator {
    width: calc(20% - 10px); 
    height: 80px;
    font-size: 20px;
    color: var(--text-color);
    background-color: var(--primary-color);
    margin: 5px;
  }
  
  .btn-primary.btn-block {
    background-color: var(--primary-color);
    width: calc(100% + 10px);
    height: 90%;
  }
  
  .btn-calculator.clear {
    background-color: var(--primary-color);
    width: calc(100% + 10px); 
  }
  
  .btn-calculator.operator {
    width: calc(100% + 10px);
    background-color: var(--secondary-color);
  }
  
  .btn-calculator.number {
    width: calc(100% + 10px);
    background-color: var(--accent-color);
  }
  
  .btn-calculator.number.long {
    grid-column: span 2;
    width: calc(100% + 10px);
  }
  
  .btn-calculator:hover {
    width: calc(100% + 10px);
    background-color: var(--background-color);
  }
  
  